.comote/
.idea/
.private-docs/
docs/
.DS_Store
node_modules/
.env
logs/
dist/
release/
build-assets/
src-tauri/target/
src-tauri/binaries/
src-tauri/gen/
npm-debug.log*
.gstack/
build-assets/runtime-deps/
.superpowers/
pnpm-lock.yaml
pnpm-workspace.yaml
